.container { 
    text-align: center;
}
.d-none {
    display: none;
}
.d-inline{
    display: inline !important;
}
.d-flex {
    display: flex;
}
.error { 
    background-color: red;
    font-weight: bold;
    font-style: italic;
    border-color: red;
}
.space-error{
    background-color: yellow !important;
}